<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-wrapper">
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
            <script>
                setTimeout(() => {
                    document.querySelectorAll('.flash').forEach(f => f.remove());
                }, 3000);
            </script>
        {% endif %}
    {% endwith %}
    <header>
        <h1><a href="/">🎬 Filmy</a></h1>
        <nav>
            <a href="{{ url_for('view_all_movies') }}">All Movies</a>
            <a href="{{ url_for('my_list') }}">My List</a>

            {% if current_user.is_authenticated %}
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
