{% extends "base.html" %}
{% block content %}
  <div class="login-page">
    <div class="login-container">
      <div class="login-form-wrapper">
        <h2 class="login-title">Login</h2>
        <form method="post" action="/login" class="login-form">
          {{ form.hidden_tag() }}
          
          {{ form.username.label }}
          {{ form.username }}

          {{ form.password.label }}
          {{ form.password }}

          {{ form.submit }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
